/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}

body {
	background-color: #edeff0;
	font-family: 'Concert One', cursive;
	color: #373737;
}

h1 {
	text-align: center;
	font-size: 1em;
}

h3 {
	font-size: 1.1em;
}

.main-wrapper {
	width: 100%;
	background-color: none;
	padding: 20px;
}

/* ================================= 
  Employee Styles
==================================== */

.employee {
	display: flex; 
	background-color: #345d88;
	color: #fff;
	border-radius: .35em;
	border: 3px #373737 solid;
	width: 100%;
	padding: 10px;
	text-align: center;
}

.employee:hover {
	animation: bob 1.3s ease-in 0.5s infinite;
}

.employee img {
	border-radius: 50%;
	max-width: 90px;
	max-height: 90px;
	align-self: center;
	margin-right: 1em;
}

.info {
	display: block;
}

.info span {
	font-size: 14px;
}

.email {
	display: block;
	margin-bottom: 2px;
}

.location {
	display: block;
	margin-bottom: 1em;
}

/* ================================= 
  Animations
==================================== */

@keyframes border-color { /*Maybe use*/
	from {border-color: #373737;}
	to {border-color: #fff;}
}

@keyframes bob {
	from {
		transform: translateY(-8px);
	}
	50% {
		transform: translateY(-4px);
	}
	to {
		transform: translateY(-8px);
	}
}

@keyframes lift {
	to {transform: translateY(-8px)}
}

.animate-lift:hover {
	animation: lift 0.5s ease-in;
}